USE [Analysis28DB]
GO
/****** 对象:  Table [dbo].[Users]    脚本日期: 03/27/2014 21:34:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[SysNo] [int] IDENTITY(10001,1) NOT NULL,
	[UserID] [nvarchar](40) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[UserPwd] [nvarchar](32) COLLATE Chinese_PRC_CI_AS NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[SysNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
