<?xml version="1.0" encoding="utf-8"?>
<routeConfig>
  <!--默认命名空间，如果Area中的Controller名称和最外层的Controller名称有相同的，则必须配置此节点，否则会导致Route失败 -->
  <defaultNamespace name="Analysis28.WebUI.Controllers.*"/>
  <ignore>
    <!--忽略对.axd文件的Route，直接处理-->
    <add url="{resource}.axd/{*pathInfo}" >
      <constraints>
        <!--添加约束-->
        <add name="resource" value="\w" />
      </constraints>
    </add>
  </ignore>

  <map>

    <route name="Home" url="" controller="Home" action="Index"></route>
    <route name="Logout" url="Logout" controller="Logout" action="Index"></route>
    <route name="Login" url="Login" controller="Login" action="Index"></route>
    <route name="Register" url="Register" controller="Login" action="Register"></route>
    <route name="Error404" url="Error/404" controller="Error" action="Error404" />
    <route name="Error500" url="Error/500" controller="Error" action="Error500" />

    
    <route name="DefaultRoute" url="{controller}/{action}"  controller="Home" action="Index"></route>
    <route name="DefaultParameterRoute" url="{controller}/{action}/{id}" controller="Home" action="Index">
      <parameters>
        <add name="id" value="{id}" />
      </parameters>
    </route>

  </map>
</routeConfig>
